*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

.container{
    height: 90%;
    width: 60%;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    /* flex-wrap: wrap; */

}

.box{
    width: 20%;
    height: 20%;
}

.box1{
    background-color: red;
}

.box2{
    background-color: green;
}

.box3{
    background-color: blue;
}


